@using TermProject.ViewModels
@model AdminWrapperVm

<h2>Tournament Teams</h2>

@*buttons here for creating and filtering
	filter by payment and filter by division
	add button underneath for the registration summary
*@

<div class="my-3 d-flex">
	<a asp-controller="User" asp-action="Add" class="btn btn-secondary me-2">Add New Team</a>
	<a asp-controller="User" asp-action="Registration" class="btn btn-secondary me-3">View Registration Summary</a>

	<form method="get" asp-action="Filter" asp-controller="User" class="ms-2">
		<select name="divisionId" asp-items="Model.Filter.Divisions">
			<option value="">--All Divisions--</option>
		</select>
		<select name="registrationPaid" asp-items="Model.Filter.Payments">
			@* <option value="">--All--</option> *@
		</select>
		<button type="submit">Apply Filter</button>
	</form>

</div>

@* @if (TempData["Success"] != null)
{
	<div class="alert alert-success my-2">
		@TempData["Success"]
	</div>
} *@

<div>
	<table class="table table-bordered table-striped align-middle">
		<thead>
			<tr>
				<th>Team ID</th>
				<th>Team Name</th>
				<th>Division</th>
				<th>Paid?</th>
				<th>Payment Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var t in Model.Teams)
			{
				<tr>
					<td>@t.TeamId</td>
					<td>@t.TeamName</td>
					<td>@t.DivisionName</td>
					<td>@(t.RegistrationPaid ? "Yes" : "No")</td>
					<td>@(t.RegistrationPaid? t.PaymentDate?.ToString("dd-MMM-yyyy") : "")</td>
					<td>
						<a asp-action="Edit" asp-route-id="@t.TeamId" class="btn btn-sm btn-secondary">Edit Team</a><br />
						<a asp-action="ManagePlayers" asp-route-id="@t.TeamId" class="btn btn-sm btn-secondary my-1">Manage Players</a><br />
						<a asp-action="Delete" asp-route-id="@t.TeamId" class="btn btn-sm btn-danger">Delete Team</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
